<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="navbar::layout(~{::section})">
	
<head></head>	
<body>
	<section class="my-5">
		<div class="row">
			<div class="col-12 ms-1 col-md-6">
				<div class="my-4" >
					<div class=""><h3 class="text-success"><b>About Us</b></h3></div>
					<p class="text-muted text-justify my-2">A content marketplace is a venue for offering licensed content to companies or brands. Many companies are looking to improve their outreach butA content marketplace is a venue for offering licensed content to companies or brands. venue for offering licensed content to companies or brandsvenue for offering licensed content to companies or brandsvenue for offering licensed content to companies or brands  Many companies are looking to improve their outreach but .</p>
					<div class=text-right>
						<a href="#" class="btn btn-outline-success px-3 mb-3">Our Policy</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<img th:src="@{/webImage/photo.jpg}" class="img-fluid">
			</div>
		</div>
	</section>
</body>
</html>	